* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
/* ================共用標籤================ */
a,a link {
    text-decoration: none;
}
thead{
    background-color: 	#6C6C6C;
    color: white;
}
tbody tr:nth-child(2n){
    background-color: #E0E0E0;
}
tbody tr:nth-child(2n+1){
    background-color:#FCFCFC ;
}
/* ================共用class================ */
.container {
    max-width: 96%;
    margin: 0 auto;
}

.padd10_0 {
    padding: 10px 0px;
}
.padd20_0 {
    padding: 20px 0px;
}
.padd30_0 {
    padding: 30px 0px;
}
.padd5_0{
    padding: 0px 2px;
}
.logo {
    height: 48px;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-flex-start {
    justify-content: flex-start;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.list-unstyled {
    list-style: none;
    padding: 0px;
}
.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.line {
    width: 24px;
    height: 24px;
}
.text-center {
    text-align: center;
}
.position-center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.position-center-X {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.line-position {
    position: absolute;
    left: 50%;
}

/* ================自訂class================ */
.myBtn{
    width: 110px;
    height: 30px;
    margin-top: 10px;
}
.table{
    margin-top: 10px;
}
.border {
    height: 50px;
    border: 1px solid;
    text-align: left;
}
.head_check_w{
    width: 100px;
    line-height: 30px;
}
.head_id_w,.head_name_w,.head_gender_w,.head_points_w,
.head_loyalty_w{
    width: 70px;    
}
.head_birth_w{
    width: 80px;    
}
.head_acc_w,.head_pwd_w,.head_phone_w{
    width: 120px;    
}
.head_email_w{
    width: 180px;    
}
.head_address_w,.head_features_w{
    width: 150px;    
}
.page_{
    text-align: center;    
}
.searchDD_1,.searchDD_2,.searchDD_3{
    /* border: 1px solid; */
    margin: 10px 20px;
    padding: 20px 10px;
}
.searchDD_3_2_1{
    margin-bottom: 20px;
}
.searchBtn_D_0,.searchBtn_D_1{
    width: 80px;
    height: 30px;
    margin-right: 20px;
}
.searchBtn_D_2{
    width: 80px;
    height: 70px;
    margin-right: 20px;
}
.searchInput{
    width: 730px;
    padding: 5px 5px;
}
.checkbox{
    vertical-align:middle;    
}
.checkLabel{
    margin-right: 20px;
}
.clickAll_d,.clickReverse_d{
    width: 40px;
    height: 20px;
}

.checkBoxLabel{
    width: 40px;
}


