* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
/* ================共用標籤================ */
a,a link {
    text-decoration: none;
}
legend{
    /* width: 100px; */
    /* text-align: initial ; */
}

/* ================共用class================ */
.container {
    max-width: 600px;
    margin: 0 auto;
}
.padding10_0 {
    padding: 10px 0px;
}
.padding20_0 {
    padding: 20px 0px;
}
.padding30_0 {
    padding: 30px 0px;
}
.logo {
    height: 48px;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-flex-start {
    justify-content: flex-start;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.list-unstyled {
    list-style: none;
    padding: 0px;
}
.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.line {
    width: 24px;
    height: 24px;
}
.text-center {
    text-align: center;
}
.position-center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.position-center-X {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.line-position {
    position: absolute;
    left: 50%;
}

/* ================自訂class================ */
.border {
    border: 1px solid;
}
.w100px {
    width: 100px;
    border:1px solid;
    border-radius: 10px;
}
.accountInfo,.personalInfo,.contactInfo{
    padding: 10px 10px;
}
.buttons{
    padding: 10px 10px;
    text-align: right;
}
.accountInfo_field,.personalInfo_field,.contactInfo_field{
    padding: 10px 10px;
    border-radius: 10px;
}
._accountInfo,._personalInfo,._contactInfo{
    justify-content: space-around;
}
._accountInfo_left,._accountInfo_right,
._personalInfo_left,._personalInfo_right,
._contactInfo_left,._contactInfo_right{
    width: 250px;
}

.infoLine{
    height: 30px;
}
.member_gender{
    width: 80px;
}
.card{
    /* margin: 0px 20px; */
    /* transform: translateX(40px); */
}
.fig{
    margin:10px auto;
    
}


