/* 中文字體font-family: 'Noto Sans TC', sans-serif;
   英文字體font-family: 'Playfair Display', sans-serif; */


 /* color template */
 :root {
  --main-bg-white: #FAFAFA;
  --nav-bg-grey: #6c6c6d;
  --main-text-black: #000008;
  --main-logo-blue: #6381a8;
  --main-light-blue: #ACC5E1;
  --main-padding-grey: rgb(230, 228, 228);
}

/* component color */
.table-gray{
  background-color: var(--main-padding-grey) !important;
}

.header-grey {
  background-color: var(--main-padding-grey) !important;
  height: 60px;
}

/* reset */
li{
  list-style: none;
 }

body {
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  position: relative;
}

/* Toggle Styles */
#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper{
  flex-grow: 1;
}

#content {
  width: 100%;
  height: 52px;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background:var(--main-logo-blue);
}

#sidebar header {
  background-color: #355f96;
  padding: 20px auto;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
}

#sidebar header a {
  color: var(--main-bg-white);
  text-decoration: none;
  font-family: 'Playfair Display', sans-serif; ;
}

#sidebar header a:hover {
  color: var(--main-bg-white);
  text-decoration: none;
  font-family: 'Playfair Display', sans-serif; ;
}

#sidebar .nav{
  flex-direction: column;
}

#sidebar .nav a{
  display: block;
  background: none;
  color: var(--main-bg-white);
  font-size: 16px;
  text-decoration: none;
  padding: 20px;
  border-bottom: 0.5px solid var(--main-padding-grey);
}

#sidebar .nav a:hover {
  display: block;
  color: var(--main-logo-blue);
  font-size: 16px;
  text-decoration: none;
  padding: 22px;
  background-color: var(--main-bg-white);
  border-bottom: 0.5px solid var(--main-padding-grey);
}

